In [2]:
# insert() 함수로 데이터를 삽입하는 코드입니다.
# 리스트.insert(값을 추가할 인덱스, 데이터)

a = [1,2,3,4,5]
print(a)

a.insert(3,6) # 리스트 a의 인덱스 3에 숫자 6을 삽입합니다. 즉  4번째 값 자리에 6이 추가되어, 리스트 a는 [1,2,3,4,5,6] 
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 6, 4, 5]

In [4]:
# del 예약어로 데이터를 삭제하는 코드입니다.
a = [1,3,5,7,9]
del a[1]

print(a)

[1, 5, 7, 9]

In [6]:
# remove() 함수로 특정 값을 찾아 삭제하는 코드입니다.
a = [1,3,5,7,9]
a.remove(7)
print(a)

[1, 3, 5, 9]

In [7]:
# sort() 함수는 리스트 안의 데이터를 작은 것부터 큰 것 순서대로 정렬합니다.
a = [-1, 4, 2, 6, 3]
a. sort()
print(a)

[-1, 2, 3, 4, 6]

In [9]:
#reverse() 함수로 리스트 안의 데이터 순서를 거꾸로 바꾸는 코드입니다.
a = [-1, 4, 2, 6, 3]
a.reverse()
print(a)

[3, 6, 2, 4, -1]

In [10]:
# 인덱스 1번('슈퍼맨')부터 2번('배트맨')까지 삭제됩니다. 
avengers = ['아이언맨' , '슈퍼맨' , '배트맨' , '캡틴 아메리카' , '토르' , '헐크']
del avengers[1:3]
print(avengers)

['아이언맨', '캡틴 아메리카', '토르', '헐크']

In [11]:
a = ['captain' , 'iron' , 'black' , 'spider' , 'ant']
a.sort()
print(a)

# sort() 함수는 기본적으로 리스트 안의 데이터를 오름차순으로 정렬합니다.
# 숫자 뿐만 아니라 문자나 문자열도 정렬할 수 있습니다.
# 영어는 알파벳순으로 정렬되므로 리스트 a의 출력결과는 a = ['captain' , 'iron' , 'black' , 'spider' , 'ant'] 이렇게 됩니다.

['ant', 'black', 'captain', 'iron', 'spider']

In [14]:
# 2차원 리스트를 생성하고 출력하는 코드입니다.

array_2d = [["이", "차", "원"], ["리", "스", "트"]]
# 리스트 내부에 리스트를 저장해 2차원 리스트를 생성합니다. 
# array_2d의 인덱스 0에는 ["이", "차", "원"] , array_2d의 인덱스 1에는 ["리", "스", "트"]를 저장했습니다.

for array in array_2d:
# for 문으로 리스트 array_2d를 인덱스 0부터 반복합니다. 변수 array에 array_2d의 값이 저장됩니다.

    print(array)
    # array 변수에 저장된 값이 출력됩니다. array_2d의 값은 모두 리스트이므로 리스트 형태 그대로 출력됩니다.

['이', '차', '원']
['리', '스', '트']

# 2차원 리스트는 일반적인 리스트와 마찬가지로 for 문과 궁합이 아주 좋습니다.                                                                                                                                                 두 개의 for 반복문을 중첩하여 리스트 안에 있는 리스트의 값까지 가져올수 있다.